<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Wine-O Vataion</title>

 <!-- STYLING FOR THE OCCURANCE MATRIX  -->
  <style>
    /* @import url(../style.css?aea6f0a); */

    .background {
      fill: #eee;
    }

    line {
      stroke: #fff;
    }

    text.active {
      fill: red;
    }
  </style>



  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://d3js.org/d3.v2.min.js" charset="utf-8"></script>
  
</head>


<body>

  <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="../media/wine_8.jpg" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="index.html">HOME</a></li>
          <li><a href="flavor_notes.html">THE STORY OF WINE</a></li>
          <li><a href="flavor_notes.html">A MOUTHFUL</a></li>
          <li><a href="flavor_notes.html">VIRTUAL SOMMELER</a></li>
          <li><a href="flavor_notes.html">YOUR RECOMMENDATION</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-darken-2">Wine-O Vation</h1>
        <div class="row center">
          <h5 class="header col s12 dark">brought to you by the Data Wientist</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button"
            class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../media/wine_8.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col lg12 m12 s12">
          <div class="col lg12 m12 s12">
            <h1 class="center">Taste Note Word Cloud</h1>
            <div class="parallax center" style="padding-left: 600px; padding-top: 100px"><img
                src="../media/bottle_glass_wc.png" alt="Unsplashed background img 1"></div>

          </div>

          <!-- <div class="col lg6 m6 s6">
                <div class="parallax" style="size:"><img src="media/wine_wc.png" alt="Unsplashed background img 3"></div>
            
        </div> -->


        </div>
      </div>

    </div>
  </div>



  </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A look into the world of wine from the scienctific perspective.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../media/wine_2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">





         

          <!-- 
    
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1' id="order">Drop Me!</a>

          
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
          </ul> -->
         

          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h1>Flavor Note Occurance Matrix</h1>

          <div id="taste" style="padding-right:900px" ></div>

         
            <div class="col lg12 m12 s12">

              <ul class="tabs" style="padding-right: 335px">
                <li class="tab col s3" value="name" id="name"><a href="#name">Order by Name</a> </li>
                <li class="tab col s3" value="cluster" id="cluster"><a href="#cluster">Order by Cluster</a></li>
                <li class="tab col s3" value="count" id="count"><a href="#count">Order By Count</a></li>
              </ul>
              </select>
            </div>
            <select id="#">
              <div id="name" class="col s12">Order by Name</div>
              <div id="cluster" class="col s12">Order by Cluster</div>
              <div id="count" class="col s12">Order By Count</div>
            </select>


            <!-- <div class="card col lg4 m4 s12" STYLE="position:relative; LEFT:900px; bottom:300px; WIDTH:620PX"></div> -->

            <div class="card col lg4 m4 s12" STYLE="position:absolute; RIGHT:50px; TOP:2300px;">

              
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../media/wine_2.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">So, what does the matrix respresent??? <i class="material-icons right">more_vert</i></span>
                  <!-- <p><a href="#">This is a link</a></p> -->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>

       


      </div>
      </div>
    </div>
  </div>

<!-- 
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A cutting edge approch to wine exploration.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../media/wine_3.jpg" alt="Unsplashed background img 3"></div>
  </div>-->

  <footer class="page-footer teal">
    <div class="container">
      <div class="row"> 

        <!-- <div class="col l6 s4">
          <h5 class="white-text">Team Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of data driven scientists that also have a taste for fine wine.</p> -->


        <!-- </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-fluid" style="padding-left: 25px">
        Made by <a class="brown-text text-lighten-3">Team Data Wientists</a>
      </div>
    </div>
  </footer>


  <script> var instance = M.Tabs.init(); </script>
  <script src="../js/init.js"></script>
  <script src="../js/flavor_notes.js"></script>
  <script src="../js/materialize.js"></script>


</body>

</html>