<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wine-O Vataion</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://d3js.org/d3.v2.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>


<body>

    <nav class="black" role="navigation">
        <div class="nav-wrapper container-fluid">
            <a id="logo-container" href="../static/media/wine_8.jpg" class="brand-logo">Data Wientist</a>
            <ul class="right hide-on-med-and-down" style="padding-right: 30px">
                <li><a href="/">HOME</a></li>
                <li><a href="/story_of_wine">THE STORY OF WINE</a></li>
                <li><a href="/flavor_notes">A MOUTHFUL</a></li>
                <li><a href="/virtual_sommelier">VIRTUAL SOMMELIER</a></li>
                <li><a href="/wine_recommender">YOUR RECOMMENDATION</a></li>
            </ul>
    
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-darken-2">Wine-O Vation</h1>
                <div class="row center">
                    <h5 class="header col s12 dark">brought to you by the Data Wientist</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="../static/media/wine_8.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">

                <div class="col lg12 m12 s12">

                    <div class='tableauPlaceholder' id='viz1570231212081' style='position: relative'><noscript><a
                                href='#'><img alt=' '
                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Data_Viz_FinalProject3&#47;Story1&#47;1_rss.png'
                                    style='border: none' /></a></noscript><object class='tableauViz'
                            style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='Data_Viz_FinalProject3&#47;Story1' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image'
                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Data_Viz_FinalProject3&#47;Story1&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' /></object></div>
                    <script
                        type='text/javascript'>                    var divElement = document.getElementById('viz1570231212081'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1300px'; vizElement.style.height = '927px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

                </div>
            </div>

        </div>
    </div>



    </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A look into the world of wine from the scienctific perspective.
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="../static/media/wine_2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">


                    <div class='tableauPlaceholder' id='viz1570152975392'
                        style='position: relative; padding-left: 80px'><noscript><a href='#'><img alt=' '
                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;winevizs&#47;Story1&#47;1_rss.png'
                                    style='border: none' /></a></noscript><object class='tableauViz'
                            style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='winevizs&#47;Story1' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image'
                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;winevizs&#47;Story1&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='filter' value='publish=yes' /></object></div>
                    <script
                        type='text/javascript'>                    var divElement = document.getElementById('viz1570152975392'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1016px'; vizElement.style.height = '991px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                    Collapse






                    <!-- 

                    <div class="card col lg4 m4 s12" STYLE="position:absolute; LEFT:200px; TOP:800px;">


                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../media/sangria-4469554.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Wine Word-Cloud<i
                                    class="material-icons right">more_vert</i></span>
                         
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Taste Notes Galore...<i
                                    class="material-icons right">close</i></span>
                            <p>The bottle to the right uniquely displays some of the commmon words used to describe the
                                wines in the
                                data set. In fact, the bottle and glasses started out as the picture you see here in on
                                the
                                title card. We transposed the words onto a mask of a wine glass and bottles for added
                                effect. Which of
                                these words describe your favorite types of wine???
                            </p>
                        </div>
                    </div> -->





                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid" style="padding-left: 25px">
                Made by <a class="brown-text text-lighten-3">Team Data Wientists</a>
            </div>
        </div>
    </footer>


    <script> var instance = M.Tabs.init(); </script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/flavor_notes.js"></script>
    <script src="../static/js/materialize.js"></script>


</body>

</html>