<html>

<head>
    <!-- <title>The Materialize Selects Example</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://d3js.org/d3.v2.min.js" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            $('select').select();
        });
    </script>
</head>

<body class="container">

    <nav class="white" role="navigation">
        <div class="nav-wrapper container-fluid">
            <a id="logo-container" href="../media/wine_8.jpg" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down" style="padding-right: 30px">
                <li><a href="index.html">HOME</a></li>
                <li><a href="story_of_wine.html">THE STORY OF WINE</a></li>
                <li><a href="flavor_notes.html">A MOUTHFUL</a></li>
                <li><a href="virtual_sommelier.html">VIRTUAL SOMMELIER</a></li>
                <li><a href="wine_recommender.html">YOUR RECOMMENDATION</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>




    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-darken-2">Wine-O Vation</h1>
                <div class="row center">
                    <h5 class="header col s12 dark">brought to you by the Data Wientist</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="../media/wine_8.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">

                <div class="col lg12 m12 s12">


                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <label>Materialize Select</label>
                                <select>
                                    <option value="" disabled selected>Select Fruit</option>
                                    <option value="1">Mango</option>
                                    <option value="2">Orange</option>
                                    <option value="3">Apple</option>
                                </select>
                            </div>
                    </div>
                </div>

            </div>
        </div>


        </form>
    </div>

    </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A look into the world of wine from the scienctific perspective.
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="../media/wine_2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">



                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer teal">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid" style="padding-left: 25px">
                Made by <a class="brown-text text-lighten-3">Team Data Wientists</a>
            </div>
        </div>
    </footer>



    <script src="../js/init.js"></script>
    <script src="../js/materialize.js"></script>
</body>

</html>