<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wine-O Vation</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://d3js.org/d3.v2.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>


<body>

    <nav class="black" role="navigation">
        <div class="nav-wrapper container-fluid">
            <a id="logo-container" href="../static/media/wine_8.jpg" class="brand-logo">Data Winetists</a>
            <ul class="right hide-on-med-and-down" style="padding-right: 30px">
                <li><a href="/">HOME</a></li>
                <li><a href="/story_of_wine">THE STORY OF WINE</a></li>
                <li><a href="/flavor_notes">A MOUTHFUL</a></li>
                <li><a href="/virtual_sommelier">VIRTUAL SOMMELIER</a></li>
                <li><a href="/wine_recommender">YOUR RECOMMENDATION</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-darken-2">Wine-O Vation</h1>
                <div class="row center">
                    <h5 class="header col s12 dark">brought to you by the Data Wientist</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="../static/media/wine_8.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col lg12 m12 s12">
                    <div class="row">

                        <form action="{{ url_for('recommend_wines')}}" method="POST">

                            <div class="col-md-2">
                                <aside class="filters">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">Filter Search</div>
                                    <div class="panel-body">
                                      <div class="form-group">
                                        <ul class="list-group" id="filters">
                                          <li class="filter list-group-item">
                                            <label for="country">Country</label>
                                            <input class="form-control" id="country" type="text" placeholder="France">
                                            <!-- <select id='"country"' name='"country"'>
                                                <option value="" disabled selected>Select wine country</option>
                                                <option value="Argentina">Argentina</option>
                                                <option value="Australia">Australia</option>
                                                <option value="Austria">Austria</option>
                                                <option value="Brazil">Brazil</option>
                                                <option value="Bulgaria">Bulgaria</option>
                                                <option value="Canada">Canada</option>
                                                <option value="Chile">Chile</option>
                                                <option value="England">England</option>
                                                <option value="France">France</option>
                                                <option value="Germany">Germany</option>
                                                <option value="Greece">Greece</option>
                                                <option value="Hungary">Hungary</option>
                                                <option value="Israel">Israel</option>
                                                <option value="Italy">Italy</option>
                                                <option value="Lebanon">Lebanon</option>
                                                <option value="Mexico">Mexico</option>
                                                <option value="Moldova">Moldova</option>
                                                <option value="Morocco">Moroco</option>
                                                <option value="New Zealand">New Zealand</option>
                                                <option value="Portugal">Portugal</option>
                                                <option value="Romania">Romania</option>
                                                <option value="Slovenia">Slovenia</option>
                                                <option value="South Africa">South Africa</option>
                                                <option value="Spain">Spain</option>
                                                <option value="Turkey">Turkey</option>
                                                <option value="Uruguay">Uruguay</option>
                                                <option value="US">United States</option>
                                            </select> -->
                                            <!-- <input class="form-control" id="country" type="text" placeholder="France"> -->
                                          </li>
                                          <li class="filter list-group-item">
                                            <label for='"category"'>Category</label>
                                            <input class="form-control" id="category" type="text" placeholder="red">
                                            <!-- <select id='"category"' name='"category"'
                                                onchange="change_wine_type(this.id, 'taste_notes')">
                                                <option value="" disabled selected>Select wine type</option>
                                                <option value="red">Red</option>
                                                <option value="white">White</option>
                                                <option value="rose">Rose</option>
                                                <option value="sparkling">Sparkling</option>
                                            </select> -->
                                          </li>
                                          <!-- <li class="filter list-group-item">
                                            <label for='"taste_notes"'>Taste Notes</label>
                                            <input class="form-control" id='"taste_notes"' type="text" placeholder="red">
                                            <select id='"taste_notes"' name='"taste_notes"'>
                                                <option value="" disabled selected>Select wine taste notes</option>
                                            </select>
                                          </li> -->
                                          <li class="filter list-group-item">
                                            <label for="variety">Variety</label>
                                            <input class="form-control" id="variety" type="text" placeholder="Nebbiolo">
                                          </li>


                                          <!-- This is where the price goes -->

                                          <!-- <li class="filter list-group-item">
                                            <label for="price">Price (Exact)</label>
                                            <input class="form-control" id="price" type="number" placeholder="35">
                                          </li> -->
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </aside>
                              </div>



                            <!-- <script>
                                function change_wine_type(type, taste) {

                                    var type = document.getElementById(type);
                                    var taste = document.getElementById(taste);
                                    taste.innerHTML = "";

                                    // console.log(type.value)

                                    if (type.value == "Red") {
                                        var optionArray = ["|", "light, fruity|light, fruity", "medium-bodied, balanced|medium-bodied, balanced", "full-bodied, robust|full-bodied, robust", "other|other"];
                                    } else if
                                        (type.value == "White") {
                                        var optionArray = ["|", "sweet, juicy, soft|sweet, juicy, soft", "balanced/ complex|balanced/ complex", "dry, briny, crisp, acidic|dry, briny, crisp, acidic", "other|other"];
                                    } else if
                                        (type.value == "Rose") {
                                        var optionArray = ["|", "savory, balanced, complex|savory, balanced, complex", "dry, citris, acidic|dry, citris, acidic", "sweet, wet, fruity, moderate acid|sweet, wet, fruity, moderate acid", "balanced/ other rose|balanced/ other rose"];
                                    } else if
                                        (type.value == "Sparkling") {
                                        var optionArray = ["|", "dry, crisp, briny, acidic|dry, crisp, briny, acidic", "sweet, modest, fruity|sweet, modest, fruity", "balanced, complex, moderate|balanced, complex, moderate", "other|other"];
                                    }


                                    for (var option in optionArray) {
                                        var pair = optionArray[option].split("|");
                                        var newOption = document.createElement("option");
                                        // console.log(optionArray)
                                        newOption.value = pair[0];
                                        // console.log(pair)
                                        newOption.innerHTML = pair[1];
                                        taste.options.add(newOption);
                                    }
                                    $('#taste_notes').formSelect();
                                }
                            </script> -->

                            <!-- <script>
                                $(document).ready(function () {
                                    $('#category').formSelect();
                                    $('#wine_country').formSelect();
                                    $('#number_inline').formSelect();
                                });
                            </script> -->

                            <!-- <input type="submit" value="Predict"
                                class="btn btn-small purple waves-effect waves-light btn-extend"> -->
<!-- 
                            <div><button class="btn waves-effect waves-light center" type="submit" name="action">Get
                                    Recomendations
                                    <i class="material-icons right">send</i>
                                </button></div> -->
                        </form>
                    </div>
                </div>
                
                <!-- <script>console.log("{{taste_notes}}")</script>
                <script>console.log("{{category}}")</script>
                <script>console.log("{{country}}")</script>
                <script>console.log("{{wine_list_jsonified}}")</script> -->

            </div>
        </div>
    </div>


<!-- 
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A look into the world of wine from the scienctific perspective.
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="../static/media/wine_2.jpg" alt="Unsplashed background img 2"></div>
    </div> -->

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <div id="table-area" class="">
                            <h1 class="text-center loader" id="loader">Wine List</h1>
                            <table id="ufo-table" class="table table-striped">
                              <thead>
                                <tr>
                                  <th class="table-head">Title</th>
                                  <th class="table-head">Country</th>
                                  <th class="table-head">Province</th>
                                  <th class="table-head">Winery</th>
                                  <th class="table-head">Price</th>
                                  <th class="table-head">Variety</th>
                                  <th class="table-head">Category</th>
                                  <th class="table-head">Flavor Notes</th>
                                  <th class="table-head">Score</th>
                                  <th class="table-head">Description</th>
                                </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer teal">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid" style="padding-left: 25px">
                Made by <a class="brown-text text-lighten-3">Team Data Wientists</a>
            </div>
        </div>
    </footer>


    <!-- <script> var instance = M.Tabs.init(); </script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/materialize.js"></script>
    <!-- <script src="../static/js/get_recommendations.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <script>
        $(document).ready(function () {
            $('select').formSelect();

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="../static/js/rec_data.js"></script>
    <script src="../static/js/recommend.js"></script>
</body>

</html>