<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wine-O Vataion</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://d3js.org/d3.v2.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>


<body>

    <nav class="black" role="navigation">
        <div class="nav-wrapper container-fluid">
            <a id="logo-container" href="../static/media/wine_8.jpg" class="brand-logo">Data Wientist</a>
            <ul class="right hide-on-med-and-down" style="padding-right: 30px">
                <li><a href="/">HOME</a></li>
                <li><a href="/story_of_wine">THE STORY OF WINE</a></li>
                <li><a href="/flavor_notes">A MOUTHFUL</a></li>
                <li><a href="/virtual_sommelier">VIRTUAL SOMMELIER</a></li>
                <li><a href="/wine_recommender">YOUR RECOMMENDATION</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-darken-2">Wine-O Vation</h1>
                <div class="row center">
                    <h5 class="header col s12 dark">brought to you by the Data Wientist</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="../static/media/wine_8.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col lg12 m12 s12">
                    <div class="row">

                        <form action="{{ url_for('recommend_wines')}}" method="POST">

                            <div class="row">

                                <label>Wine Type</label>
                                <select id="wine_type" name="wine_type"
                                    onchange="change_wine_type(this.id, 'taste_notes'),  formChanged(this.value)">
                                    <option value="" disabled selected>select wine type</option>
                                    <option value="Red">Red</option>
                                    <option value="White">White</option>
                                    <option value="Rose">Rose</option>
                                    <option value="Sparkling">Sparkling</option>
                                </select>
                            </div>



                            <div class="row" onchange="formChanged(this.value)">
                                <label>Taste Notes</label>
                                <select id="taste_notes" name="taste_notes">
                                    <option value="" disabled selected>select wine taste notes</option>
                                </select>
                            </div>




                            <div class="row">
                                <label>Country of Origin</label>
                                <select id="wine_country" name="wine_country" onchange="formChanged(this.value)">
                                    <option value="" disabled selected>select wine country</option>
                                    <option value=0>Argentina</option>
                                    <option value=0>Australia</option>
                                    <option value=1>Austria</option>
                                    <option value=0>Brazil</option>
                                    <option value=0>Bulgaria</option>
                                    <option value=0>Canada</option>
                                    <option value=0>Chile</option>
                                    <option value=0>England</option>
                                    <option value=0>France</option>
                                    <option value=0>Germany</option>
                                    <option value=0>Greece</option>
                                    <option value=0>Hungary</option>
                                    <option value=0>Israel</option>
                                    <option value=0>Italy</option>
                                    <option value=0>Lebanon</option>
                                    <option value=0>Mexico</option>
                                    <option value=0>Maldova</option>
                                    <option value=0>Moroco</option>
                                    <option value=0>New Zealand</option>
                                    <option value=0>Portugal</option>
                                    <option value=0>Romania</option>
                                    <option value=0>Slovenia</option>
                                    <option value=0>South Africa</option>
                                    <option value=0>Spain</option>
                                    <option value=0>Turkey</option>
                                    <option value=0>Uruguay</option>
                                    <option value=0>United States</option>
                                </select>
                            </div>



                            <div class="row">
                                <div class="col s12">
                                    Enter the wines price in dollars (no cents eg. 20 for 20 dollars):
                                    <div class="input-field inline">
                                        <input id="number_inline" type="number" class="validate"
                                            onchange="formChanged(this.value)">
                                        <label for="number_inline">Price in dollars. (4 to 150)</label>
                                        <span class="helper-text" data-error="wrong" data-success="right">validating
                                            response...</span>
                                    </div>
                                </div>
                            </div>


                            <script>
                                $(document).ready(function () {
                                    $('#wine_type').formSelect();
                                    $('#wine_country').formSelect();
                                    $('#number_inline').formSelect();
                                });
                            </script>




                            <script>
                                function change_wine_type(type, taste) {

                                    var type = document.getElementById(type);
                                    var taste = document.getElementById(taste);
                                    taste.innerHTML = "";

                                    // console.log(type.value)

                                    if (type.value == "Red") {
                                        var optionArray = ["|", "1|light, fruity", "0|medium-bodied, balanced", "0|full-bodied, robust", "0|other"];
                                    } else if
                                        (type.value == "White") {
                                        var optionArray = ["|", "0|sweet, juicy, soft", "0|balanced/ complex", "0|dry, briny, crisp, acidic", "0|other"];
                                    } else if
                                        (type.value == "Rose") {
                                        var optionArray = ["|", "0|savory, balanced, complex", "0|dry, citris, acidic", "0|sweet, wet, fruity, moderate acid", "0|balanced/ other rose"];
                                    } else if
                                        (type.value == "Sparkling") {
                                        var optionArray = ["|", "0|dry, crisp, briny, acidic", "0|sweet, modest, fruity", "0|balanced, complex, moderate", "0|other"];
                                    }


                                    for (var option in optionArray) {
                                        var pair = optionArray[option].split("|");
                                        var newOption = document.createElement("option");
                                        // console.log(optionArray)
                                        newOption.value = pair[0];
                                        // console.log(pair)
                                        newOption.innerHTML = pair[1];
                                        taste.options.add(newOption);
                                    }
                                    $('#taste_notes').formSelect();
                                }
                            </script>

                            <!-- <input type="submit" value="Predict"
                                class="btn btn-small purple waves-effect waves-light btn-extend"> -->

                            <div><button class="btn waves-effect waves-light center" type="submit" name="action">Get
                                    Recomendations
                                    <i class="material-icons right">send</i>
                                </button></div>
                        </form>
                    </div>
                </div>

                <script>console.log("{{testing_2}}")</script>
                <script>console.log("{{wine_list_jsonified}}")</script>

            </div>
        </div>
    </div>



    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A look into the world of wine from the scienctific perspective.
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="../static/media/wine_2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <div id="table-area" class="">
                            <h1 class="text-center loader" id="loader">Wine List</h1>
                            <table id="ufo-table" class="table table-striped">
                              <thead>
                                <tr>
                                  <th class="table-head">Title</th>
                                  <th class="table-head">Country</th>
                                  <th class="table-head">Score</th>
                                  <th class="table-head">Price</th>
                                  <th class="table-head">Region</th>
                                  <th class="table-head">Variety</th>
                                  <th class="table-head">Category</th>
                                  <th class="table-head">Flavor Notes</th>
                                </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer teal">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid" style="padding-left: 25px">
                Made by <a class="brown-text text-lighten-3">Team Data Wientists</a>
            </div>
        </div>
    </footer>


    <!-- <script> var instance = M.Tabs.init(); </script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/materialize.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <script>
        $(document).ready(function () {
            $('select').formSelect();

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="../static/js/recommender_json.js"></script>
    <script src="../static/js/recommend.js"></script>
</body>

</html>